<fieldset>
  <legend>{{ localize "tokencover.name" }}</legend>

    <div class="form-group">
      <label for="tokencover.coverType">{{ localize "tokencover.active-effect-config.coverType.name" }}</label>
      <div class="form-fields">
        <select name="flags.tokencover.coverType}}">
          {{selectOptions tokencover.coverTypes selected=object.flags.tokencover.coverType nameAttr="key" labelAttr="label" localize=true}}
        </select>
      </div>
      <p class="hint">{{ localize "tokencover.active-effect-config.coverType.hint" }}</p>
    </div>

  </legend>
</fieldset>