<!-- https://www.sitelint.com/blog/how-to-implement-multiple-selection-with-check-boxes-in-an-html-without-external-libraries -->

<fieldset>
  <legend>{{ localize "tokencover.name" }}</legend>

    <div class="form-group">
      <label for="tokencover.coverType">{{ localize "tokencover.active-effect-config.coverType.name" }}</label>
      <div class="form-fields">
        <ul>
          {{#each tokencover.coverTypes as |coverType|}}
          <li>
            <label for="{{coverType.id}}">{{localize coverType.name}}</label>
            <input type="checkbox" id="{{coverType.id}}" name="{{coverType.id}}" value="{{coverType.name}}" {{checked coverType.checked}}/>
          </li>
          {{/each}}
        </ul>
      </div>
      <p class="hint">{{ localize "tokencover.active-effect-config.coverType.hint" }}</p>
    </div>

  </legend>
</fieldset>