<!-- https://www.sitelint.com/blog/how-to-implement-multiple-selection-with-check-boxes-in-an-html-without-external-libraries -->

<fieldset>
  <legend>{{ localize "tokencover.name" }}</legend>

    <div class="form-group">
      <label for="tokencover.coverType">{{ localize "tokencover.active-effect-config.coverType.name" }}</label>
      <div class="form-fields">
        <select multiple id="{{coverType.id}}" name="{{coverType.id}}">
          {{selectOptions tokencover.coverTypes selected=tokencover.selected nameAttr="id" labelAttr="name" sort="true" }}
        </select>
      </div>
      <p class="hint">{{ localize "tokencover.active-effect-config.coverType.hint" }}</p>
    </div>

  </legend>
</fieldset>
