<form class="settings-list">
  <section>
  <em>{{localize "tokencover.cover-types-list-config.description"}}</em>
  <br>
  <hr>

  <!-- Table Header -->
  <!-- Display uses icon/color/both -->
  <!-- Icon, Tint, Name, Percent Threshold, Overlap, Include Walls, Include Tokens, Priority -->

  <!-- Table Rows -->
    <div class="flextable">

      <!-- Header Row -->
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">Icon</div>
        <div class="flexcol" style="flex-grow: 1">Tint</div>
        <div class="flexcol" style="flex-grow: 5">Name</div>
        <div class="flexcol" style="flex-grow: 1">%</div>
        <div class="flexcol" style="flex-grow: 1">Overlap</div>
        <div class="flexcol" style="flex-grow: 1">Walls</div>
        <div class="flexcol" style="flex-grow: 1">Tokens</div>
        <div class="flexcol" style="flex-grow: 1">Priority</div>
        <div class="flexcol" style="flex-grow: 2"">Remove?</div>
      </div>

      {{#each allCoverTypes as |coverType idx|}}
        <div class="flexrow">
          <!-- Icon (modified filePicker) -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <button class="file-picker" data-idx="{{idx}}" data-type="image" title="{{localize 'FILES.BrowseTooltip'}}" tabindex="-1" style="width: 36px; background-color: transparent; border: none; text-align: center">
              <img src="{{coverType.icon}}" width="24" height="24" class="flex0"/>
            </button>
          </div>

          <!-- Tint -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <input type="color" value="{{ coverType.tint.css }}" name="allCoverTypes.{{idx}}.tint" style="width: 36px">
          </div>

          <!-- Name -->
          <div class="flexcol" style="flex-grow: 5" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="text" name="allCoverTypes.{{idx}}.name" placeholder="Cover Type Name" value="{{ coverType.name }}">
            </div>
          </div>

          <!-- Percent Threshold -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="number" name="allCoverTypes.{{idx}}.percentThreshold" placeholder="1" style="width:40px" min="0" step=".01" max="1" value="{{ coverType.percentThreshold }}">
            </div>
          </div>

          <!-- Booleans: overlap, include walls, include tokens -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="checkbox" name="allCoverTypes.{{idx}}.canOverlap" {{checked coverType.canOverlap}}>
            </div>
          </div>

          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="checkbox" name="allCoverTypes.{{idx}}.includeWalls" {{checked coverType.includeWalls}}>
            </div>
          </div>

          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="checkbox" name="allCoverTypes.{{idx}}.includeTokens" {{checked coverType.includeTokens}}>
            </div>
          </div>


          <!-- Priority (number) -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="number" name="allCoverTypes.{{idx}}.priority" style="width:30px" value="{{ coverType.priority }}">
            </div>
          </div>

          <!-- Button for deleting cover type -->
          <div class="flexcol" style="flex-grow: 2">
            <div class='form-fields slim'>
              <button class="button tm-remove-coverType" data-idx="{{idx}}" style="width: 27px; text-align: center">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

        </div>
        <hr>
      {{/each}}
    </div>
  </section>

  <footer class="sheet-footer" style="margin: auto; padding-top: 30px">
    <div class="flex-table">
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-add-coverType" type="submit" name="add" value="1"><i class="fas fa-square-plus"></i>{{localize "tokencover.cover-types-list-config.add"}}</button>
        </div>
      </div>

      <!-- Button: Import all coverTypes -->
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-import-coverType" type="submit" name="import" value="1"><i class="fas fa-file-arrow-up"></i>{{localize "tokencover.cover-types-list-config.import"}}</button>
        </div>


      <!-- Button: Export all coverTypes -->
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-export-coverType" type="submit" name="export" value="1"><i class="fas fa-file-arrow-down"></i>{{localize "tokencover.cover-types-list-config.export"}}</button>
        </div>
      </div>

    </div>
  </footer>

</form