<div class="form-group">
  <button name="tokencover-button-pf2e">
    <i class="fas fa-sliders"></i>
    {{localize "tokencover.settings.button-pf2e.Label"}}
  </button>
</div>

<div class="form-group">
  <button name="tokencover-button-dnd5e-dmg">
    <i class="fas fa-sliders"></i>
    {{localize "tokencover.settings.button-dnd5e-dmg.Label"}}
  </button>
</div>

<div class = "form-group">
  <button name="tokencover-button-three-d">
    <i class="fas fa-sliders"></i>
    {{localize "tokencover.settings.button-three-d.Label"}}
  </button>
</div>

<div class="form-group">
  <button name="tokencover-button-documentation">
    <i class="fas fa-sliders"></i>
    {{localize "tokencover.settings.button-documentation.Label"}}
  </button>
</div>
