<fieldset>
  <legend>{{ localize "tokencover.name" }}</legend>

    <div class="form-group">
      <label for="tokencover.maximumCoverGrant">{{ localize "tokencover.tokenconfig.maximum-cover.name" }}</label>
      <div class="form-fields">
        {{rangePicker name="flags.tokencover.maximumCoverGrant" value=object.flags.tokencover.maximumCoverGrant min=0 max=1 step = 0.05}}
      </div>
      <p class="hint">{{ localize "tokencover.tokenconfig.maximum-cover.hint" }}</p>
    </div>

  </legend>
</fieldset>