<fieldset>
  <legend>{{ localize "tokenvisibility.DrawingConfiguration.LegendTitle" }}</legend>

    <div class="form-group">
      <label>{{localize "tokenvisibility.DrawingConfiguration.isHole.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="flags.tokenvisibility.isHole" {{ checked data.flags.tokenvisibility.isHole }}/>
      </div>
      <p class="notes">{{ localize "tokenvisibility.DrawingConfiguration.isHole.Hint" }}</p>
    </div>

  </legend>
</fieldset>